body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: teal;
}

code {
  font-family: monospace;
  color: red;
}

li.green code {
  color: green;
}

/*li + li {*/
/*  background-color: black;*/
/*  color: white;*/
/*}*/

ol > li {
  background-color: black;
  color: white;
}
